.singleProduct {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 200px;
    margin: 30px auto;
    text-align: center;
    font-family: arial;
}

.price {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 14px;
}

.singleProduct button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgb(19, 121, 206);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

.singleProduct button:hover {
    opacity: 0.7;
}

.heart {
    display: flex;
    justify-content: flex-start;
    margin: 10px 10px;
}

.cardImage img {
    width: 90px;
    height: 90px;
    min-height: 70px;
}

.heartDelete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete button {
    border: none;
    outline: 0;
    width: 5px;
    color: rgb(19, 121, 206);
    background-color: white;
    margin-left: 10px;
}